[project]

site_name = "ngtools"

site_description = "Advanced tools for neuroglancer"

site_author = "Yael"

site_url = "https://neuroscales.github.io/ngtools/"

copyright = """
Copyright &copy; 2025 The authors
"""

[project.theme]

language = "en"

features = []

[[project.theme.palette]]
scheme = "default"
toggle.icon = "lucide/sun"
toggle.name = "Switch to dark mode"

[[project.theme.palette]]
scheme = "slate"
toggle.icon = "lucide/moon"
toggle.name = "Switch to light mode"



[project.plugins.mkdocstrings.handlers.python]
paths = ["./ngtools"]

[project.plugins.mkdocstrings.handlers.python.options]
docstring_style = "numpy"
merge_init_into_class = true
separate_signature = true
members_order = "source"
show_source = false
show_root_heading = true
show_overloads = true
overloads_only = true